# 2018 KBO Mock Rookie Draft

## Formulars
* WAR = RAR / 10
* RAR = RAA + 20 (PA / 600)
* RAA = wRAA + wSB + UBR + UZR + Position Constant
* wRAA = ((wOBA - league wOBA)/wOBAscale) * PA

** wOBA(weight on Base Average) = (0.735 * (NIBB+HBP) + 0.90 * 1B + 1.24 * 2B + 1.56 * 3B + 1.95 * HR) / PA **

NIBB : Not Intentional base on balls<br/>
IBB : Intentional base on balls<br/>
PA : Plate appearance

** References<br/> **
https://en.wikipedia.org/wiki/WOBA<br/>
http://ko.yagongso.wikidok.net/wp-d/59e0e5f411f7fa6a3ea5545a/View

In [110]:
import pandas as pd
import numpy as np

#Import data
df = pd.read_csv('Documents/KBO_simulated_draft/2018_KBO_predicteddraft/2017hitter.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619 entries, 0 to 618
Data columns (total 17 columns):
순위     619 non-null int64
이름     619 non-null object
경기     619 non-null int64
타율     619 non-null float64
타석     619 non-null int64
타수     619 non-null int64
안타     619 non-null int64
2루타    619 non-null int64
3루타    619 non-null int64
홈런     619 non-null int64
타점     619 non-null int64
득점     619 non-null int64
사사구    619 non-null int64
삼진     619 non-null int64
출루율    619 non-null float64
장타율    619 non-null float64
도루     619 non-null int64
dtypes: float64(3), int64(13), object(1)
memory usage: 82.3+ KB

In [111]:
#check missing value
df.isnull().sum()

순위     0
이름     0
경기     0
타율     0
타석     0
타수     0
안타     0
2루타    0
3루타    0
홈런     0
타점     0
득점     0
사사구    0
삼진     0
출루율    0
장타율    0
도루     0
dtype: int64

In [112]:
df.head()

,순위,이름,경기,타율,타석,타수,안타,2루타,3루타,홈런,타점,득점,사사구,삼진,출루율,장타율,도루
0,1,장재우(광천고),1,1.000,4,4,4,0,0,0,0,2,0,0,1.000,1.000,1
1,2,문정재(광천고),1,0.500,4,2,1,0,1,0,1,1,0,0,0.500,1.500,0
2,3,배지환(경북고),27,0.474,120,95,45,3,5,1,17,31,20,10,0.556,0.642,30
3,4,천현재(부경고),15,0.463,53,41,19,6,3,0,13,9,11,2,0.566,0.756,2
4,5,김민석(부경고),15,0.462,36,26,12,1,0,1,9,7,9,3,0.583,0.615,1

규정타석을 채우지 못한 타자들을 거를 필요가 있다 <br/>

2017년 기준
* 전반기 주말리그 6.5경기
* 후반기 주말리그 6.5경기
* 황금사자기
* 청룡선수권
* 대통령배
* 봉황대기
* 전국체전 

전국체전을 제외한 대회를 각각 1.5경기를 평균으로 해서 총 19경기를 소속팀 평균 경기수로 계산했다

규정타석 : 소속팀 경기수 x 0.8 x 3 = 46타석 <br/>
http://www.hsbaseball.kr/board/bbs_cmu_read.php?idxno=972&menu_idxno=11&page=31&search_item=&search_word=&category=

In [113]:
df = df[df['타석'] >= 46]
df.head()

,순위,이름,경기,타율,타석,타수,안타,2루타,3루타,홈런,타점,득점,사사구,삼진,출루율,장타율,도루
2,3,배지환(경북고),27,0.474,120,95,45,3,5,1,17,31,20,10,0.556,0.642,30
3,4,천현재(부경고),15,0.463,53,41,19,6,3,0,13,9,11,2,0.566,0.756,2
5,6,안영환(신흥고),16,0.452,46,31,14,3,1,0,6,8,12,1,0.605,0.613,2
6,7,홍혁준(충훈고),14,0.447,59,47,21,4,1,0,14,12,9,7,0.517,0.574,7
7,8,이상훈(김해고),13,0.438,54,48,21,2,4,0,4,9,6,1,0.500,0.646,7

In [114]:
df['단타'] = df.apply(lambda x: x[6] - (x[7] + x[8] +x[9]), axis=1)
col_names = ['순위','이름','경기','타율','타석','타수','안타','단타','2루타','3루타','홈런','타점','득점','사사구','삼진','출루율','장타율','도루']
df = df.reindex(columns=col_names)
df.head()

,순위,이름,경기,타율,타석,타수,안타,단타,2루타,3루타,홈런,타점,득점,사사구,삼진,출루율,장타율,도루
2,3,배지환(경북고),27,0.474,120,95,45,36,3,5,1,17,31,20,10,0.556,0.642,30
3,4,천현재(부경고),15,0.463,53,41,19,10,6,3,0,13,9,11,2,0.566,0.756,2
5,6,안영환(신흥고),16,0.452,46,31,14,10,3,1,0,6,8,12,1,0.605,0.613,2
6,7,홍혁준(충훈고),14,0.447,59,47,21,16,4,1,0,14,12,9,7,0.517,0.574,7
7,8,이상훈(김해고),13,0.438,54,48,21,15,2,4,0,4,9,6,1,0.500,0.646,7

In [115]:
df['wOBA'] = df.apply(lambda x: (0.735*x[13] + 0.9*x[7] + 1.24*x[8] + 1.56*x[9] + 1.95*x[10])/x[5], axis=1)
df = df.sort_values(by='wOBA',ascending=0)
df.head(10)

,순위,이름,경기,타율,타석,타수,안타,단타,2루타,3루타,홈런,타점,득점,사사구,삼진,출루율,장타율,도루,wOBA
16,17,박영완(대구고),14,0.400,59,35,14,7,5,2,0,13,14,20,6,0.596,0.657,2,0.866286
5,6,안영환(신흥고),16,0.452,46,31,14,10,3,1,0,6,8,12,1,0.605,0.613,2,0.745161
3,4,천현재(부경고),15,0.463,53,41,19,10,6,3,0,13,9,11,2,0.566,0.756,2,0.712317
23,24,김민기(덕수고),30,0.393,124,89,35,25,8,1,1,13,27,31,10,0.545,0.539,13,0.659719
25,26,추재현(신일고),22,0.390,99,77,30,18,6,3,3,25,23,22,4,0.525,0.662,4,0.653766
8,9,강백호(서울고),31,0.434,133,106,46,30,13,0,3,34,37,27,10,0.549,0.642,10,0.649198
2,3,배지환(경북고),27,0.474,120,95,45,36,3,5,1,17,31,20,10,0.556,0.642,30,0.637579
63,64,김다운(율곡고),25,0.353,115,85,30,18,8,4,0,14,34,29,7,0.518,0.541,4,0.631471
145,146,박준형(북일고),16,0.311,68,45,14,10,3,1,0,14,10,19,5,0.500,0.422,3,0.627667
29,30,박민석(장충고),19,0.385,86,65,25,20,2,2,1,17,21,20,7,0.529,0.523,13,0.619231

### 타석 100